<!-- begin footer -->
<footer class="footer">

  {{ mixins.cyl({lg: true, md: true, sm: true}) }}

  <div class="footer__top">
    {% include "partials/_form.html" %}
  </div>


  <div class="footer__bottom">
    <div class="footer__col">
      <div class="footer__text">
        <h5>Kyiv</h5>
        <h6>Ukraine</h6>
        <p>24, Glybochytska str. <br>Kyiv, 01479</p>
        <a href="tel:+380 (32) 749-23-23">+380 (32) 749-23-23</a>
      </div>
      <div class="footer__link">
        <a href="" class="js-link cl-l" data-cursor="click"><span>hello@scalyst.co</span></a>
      </div>
    </div>

    <div class="footer__col">
      <ul class="socials">
        <li><a href="" class="js-link cl-l" data-cursor="click"><span>Facebook</span></a></li>
        <li><a href="" class="js-link cl-l" data-cursor="click"><span>Twitter</span></a></li>
        <li><a href="" class="js-link cl-l" data-cursor="click"><span>Instagram</span></a></li>
        <li><a href="" class="js-link cl-l" data-cursor="click"><span>LinkedIn</span></a></li>
      </ul>

      <div class="copyright">
        <p>© 2017-2018 Scalyst.</p>
      </div>
    </div>
  </div>
</footer>
<!-- end footer -->
