<div class="hlist" data-cursor="drag" data-direction="horizontal">
  <h3 class="hlist__message js-hlist-msg">What are you interested in?</h3>

  <div class="hlist__in cl-r">

    <div class="hlist__slider">
      <div class="hlist__track swiper-container js-hslider">
        <div class="swiper-wrapper">

          <div class="hlist__slide swiper-slide">
            <div class="hlist__cyl js-img">
              <div class="img">
                <img src="img/cylinder-1-bl.png" alt="">
              </div>
            </div>

            <a href="team.html" data-cursor="click"></a>

            <div class="hslide">

              <div class="hslide__img">
                <img src="img/penrose.png" alt="">
              </div>

              <div class="hslide__in">
                <span class="num">01</span>
                <div class="hslide__svg">
                  {{ mixins.svg_triangle_small('h-triangle-1') }}
                </div>
              </div>
            </div>
          </div>

          <div class="hlist__slide swiper-slide">
            <div class="hlist__cyl js-img">
              <div class="img">
                <img src="img/cylinder-2-bl.png" alt="">
              </div>
            </div>

            <a href="webmob.html" data-cursor="click"></a>

            <div class="hslide">

              <div class="hslide__img">
                <img src="img/chen.png" alt="">
              </div>

              <div class="hslide__in">
                <span class="num">02</span>
                <div class="hslide__svg">
                  {{ mixins.svg_chen_small('h-chen-1') }}
                </div>
              </div>
            </div>
          </div>

          <div class="hlist__slide swiper-slide">
            <div class="hlist__cyl js-img">
              <div class="img">
                <img src="img/cylinder-3-bl.png" alt="">
              </div>
            </div>

            <a href="qa.html" data-cursor="click"></a>

            <div class="hslide">

              <div class="hslide__img">
                <img src="img/gyroid.png" alt="">
              </div>

              <div class="hslide__in">
                <span class="num">03</span>
                <div class="hslide__svg">
                  {{ mixins.svg_gyroid_small('h-gyroid-1') }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="hlist__slider is-clip">
      <div class="hlist__track swiper-container js-hslider-cl">
        <div class="swiper-wrapper">

          <div class="hlist__slide swiper-slide">
            <div class="hlist__cyl js-img">
              <div class="img">
                <img src="img/cylinder-1.png" alt="">
              </div>
            </div>

            <a href="team.html" data-cursor="click"></a>

            <div class="hslide">

              <div class="hslide__img">
                <img src="img/penrose.png" alt="">
              </div>

              <div class="hslide__in">
                <span class="num">01</span>
                <div class="hslide__svg">
                  {{ mixins.svg_triangle_small('h-triangle-2') }}
                </div>
              </div>
            </div>
          </div>

          <div class="hlist__slide swiper-slide">
            <div class="hlist__cyl js-img">
              <div class="img">
                <img src="img/cylinder-2.png" alt="">
              </div>
            </div>

            <a href="webmob.html" data-cursor="click"></a>

            <div class="hslide">

              <div class="hslide__img">
                <img src="img/chen.png" alt="">
              </div>

              <div class="hslide__in">
                <span class="num">02</span>
                <div class="hslide__svg">
                  {{ mixins.svg_chen_small('h-chen-2') }}
                </div>
              </div>
            </div>
          </div>

          <div class="hlist__slide swiper-slide">
            <div class="hlist__cyl js-img">
              <div class="img">
                <img src="img/cylinder-3.png" alt="">
              </div>
            </div>

            <a href="qa.html" data-cursor="click"></a>

            <div class="hslide">

              <div class="hslide__img">
                <img src="img/gyroid.png" alt="">
              </div>

              <div class="hslide__in">
                <span class="num">03</span>
                <div class="hslide__svg">
                  {{ mixins.svg_gyroid_small('h-gyroid-2') }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
