<div class="moblist">
  <a href="team.html" class="moblist__item">
    <div class="moblist__img">
      <img src="img/penrose.png" alt="">
    </div>

    <div class="moblist__in">
      <span class="num">01</span>
      <div class="moblist__svg">
        {{ mixins.svg_triangle_small('ml-triangle') }}
      </div>
    </div>
  </a>

  <a href="webmob.html" class="moblist__item">
    <div class="moblist__img">
      <img src="img/chen.png" alt="">
    </div>

    <div class="moblist__in">
      <span class="num">02</span>
      <div class="moblist__svg">
        {{ mixins.svg_chen_mob('ml-chen') }}
      </div>
    </div>
  </a>

  <a href="team.html" class="moblist__item">
    <div class="moblist__img">
      <img src="img/gyroid.png" alt="">
    </div>

    <div class="moblist__in">
      <span class="num">03</span>
      <div class="moblist__svg">
        {{ mixins.svg_gyroid_small('ml-gyroid') }}
      </div>
    </div>
  </a>
</div>
