<div class="tlist">
  <h3 class="tlist__message js-tlist-msg">What are you interested in?</h3>

  <div class="tlist__in cl-r">

    <div class="tlist__slider">
      <div class="tlist__track swiper-container js-tslider">
        <div class="swiper-wrapper">

          <div class="tlist__slide swiper-slide">
            <a href="team.html" data-cursor="click"></a>

            <div class="tslide">
              <div class="tslide__img">
                <img src="img/penrose.png" alt="">
              </div>

              <div class="tslide__in">
                <span class="num">01</span>
                <div class="tslide__svg">
                  {{ mixins.svg_triangle_small('t-triangle-1') }}
                </div>
              </div>
            </div>
          </div>

          <div class="tlist__slide swiper-slide">
            <a href="webmob.html" data-cursor="click"></a>

            <div class="tslide">
              <div class="tslide__img">
                <img src="img/chen.png" alt="">
              </div>

              <div class="tslide__in">
                <span class="num">02</span>
                <div class="tslide__svg">
                  {{ mixins.svg_chen_small('t-chen-1') }}
                </div>
              </div>
            </div>
          </div>

          <div class="tlist__slide swiper-slide">
            <a href="qa.html" data-cursor="click"></a>

            <div class="tslide">
              <div class="tslide__img">
                <img src="img/gyroid.png" alt="">
              </div>

              <div class="tslide__in">
                <span class="num">03</span>
                <div class="tslide__svg">
                  {{ mixins.svg_gyroid_small('t-gyroid-1') }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>



    <div class="tlist__slider is-clip">
      <div class="tlist__track swiper-container js-tslider-cl">
        <div class="swiper-wrapper">

          <div class="tlist__slide swiper-slide">
            <a href="team.html" data-cursor="click"></a>

            <div class="tslide">

              <div class="tslide__img">
                <img src="img/penrose.png" alt="">
              </div>

              <div class="tslide__in">
                <span class="num">01</span>
                <div class="tslide__svg">
                  {{ mixins.svg_triangle_small('t-triangle-2') }}
                </div>
              </div>
            </div>
          </div>

          <div class="tlist__slide swiper-slide">
            <a href="webmob.html" data-cursor="click"></a>

            <div class="tslide">

              <div class="tslide__img">
                <img src="img/chen.png" alt="">
              </div>

              <div class="tslide__in">
                <span class="num">02</span>
                <div class="tslide__svg">
                  {{ mixins.svg_chen_small('t-chen-2') }}
                </div>
              </div>
            </div>
          </div>

          <div class="tlist__slide swiper-slide">
            <a href="qa.html" data-cursor="click"></a>

            <div class="tslide">
              <div class="tslide__img">
                <img src="img/gyroid.png" alt="">
              </div>

              <div class="tslide__in">
                <span class="num">03</span>
                <div class="tslide__svg">
                  {{ mixins.svg_gyroid_small('t-gyroid-2') }}
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
